<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__middle-section">
    <a href="https://soundcloud.com/user-70053674">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
	<div class="mdl-logo">Podcast</div>
      </button>
    </a>
    <a href="https://twitter.com/soccerthread">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
	<div class="mdl-logo">Twitter</div>
      </button>
    </a>
    <a href="https://www.facebook.com/soccerthread/">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
	<div class="mdl-logo">Facebook</div>
      </button>
    </a>
  </div>
</footer>
