<% if user_signed_in? %>
  <%= render 'shared/dashboard'%>
<% else  %>
  <div class="wrapper__sign-in">
    <%= button_to(user_google_oauth2_omniauth_authorize_path, class: 'mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect button__sign-in') do %>
      <span><%= render 'shared/google_icon' %>Sign in with Google</span>
    <% end %>
  </div>
<% end %>
