<table>
  <thead>
    <tr>
      <th></th>
      <th>
	Team
      </th>
      <th>
	User
      </th>
      <th>
	Points
      </th>
      <th>
	Streak of
      </th>
      <th>
	Current Pick
      </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <td>
	1
      </td>
      <td>
	<%= user.team %>
      </td>
      <td>
	<%= user.name %>
      </td>
      <td>
	0
      </td>
      <td>
	0
      </td>
      <td>
	Wolverhampton Wanderers FC
      </td>
    <% end %>
  </tbody>
</table>
