.dashboard__team-info {
  display: flex;
  flex: 1;
  align-items: center;

  .dashboard__team {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 1.5em;
    }

    h2 {
      font-size: 1.7em;
    }

    h2, h3 {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}

.dashboard__team {
  flex: 0 0 33.3333%;
}

.dashboard__pick {
  display: flex;
  flex-direction: column;
  flex: 0 0 33.3333%;
  align-items: center;
  text-overflow: ellipsis;
}

.dashboard__rank {
  display: flex;
  justify-content: center;
  flex: 0 0 33.3333%;
}

.dashboard__links {
  display: flex;
  flex: 1;
}

.dashboard__quarter {
  flex: 0 0 25%;
}

.dashboard__links--container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex: 0 0 50%;

  form {
    display: flex;
    flex: 0 0 50%;
    justify-content: space-around;
  }
}
