<div class="dashboard__pick">
  <div class="dashboard__pick__picked-team">
    Arsenal FC
  </div>
  <span class="mdl-chip">
    <span class="mdl-chip__text">
      LOCKED
    </span>
  </span>
</div>
