<div class="dashboard__pick">
  <% if current_user.current_pick.present? %>
    <div class="dashboard__pick__picked-team">
      <%= current_user.current_pick %>
    </div>
    <span class="mdl-chip">
      <span class="mdl-chip__text">
	LOCKED
      </span>
    </span>
  <% end %>
</div>
